background{
    background-image: url("hero.jpg")
    height:100vh;
    margin-top:-25px;
    .align-center{
        text-align:center;
    }

}
.text.center{
    text-align : center;
}
.text-white{
    color: white;
}
.display-1{
    font-size:65px;
}
.display-2{
    font-size: 30px;
html{
	scroll-behavior: smooth;
}
body{
	margin:0;
	font-family:Arial;
}
.background{
	background-image: url("hero.jpg");
	bacground-size:cover;
	background-repeat: no repeat;
	height: 100vh;
}
.align-center{
padding-top:250px;
}
.text-center{
text-align: center;
}

.btn{
    padding: 16px 32 px;
    font-size: 25 px;
}
.btn-red{
    background-color:red
    color: white
    border:none;

}
.btn-dark{
      background-color:black;
      color:white;
      border:none;
}
button#explorebtn:hover{
    background-color: black;
}
button#contactbtn:hover{
background-color: red;
}
.navbar{
    display: flex;
    blackground-colour:#3a3a3a;
}
nav < a{
    padding:20px;
    color: white;
text-decoration: none;

}ss
nav.navbar > a:hower{
    background-color: white;
    color: #3a3a3a;
    transition:ease-in-out  0.5s;
}
.main{
display:flex;
background-color:brown;
}
.ig{
text-algin: right;
width: 50%;
length:100;
}
.hh{
text-align:center;
}
.next{
text-align:center;
background-color:brown;
}
.ig2{
 padding:30px;
width:30%;
margin:50px;
}
.ig3{
padding:30px;
width:30%;
margin:50;
}
.ig4{
padding:30px;
width:30;
margin:50;
}
.co{
text-align:center;
}
.abc{
display: flex;
}
.bc{
background-color:gainsboro;
}
.na{
margin: 300px;
}